#! /bin/sh
# /etc/init.d/linkbot


case "$1" in
  start)
  	echo "Starting LinkBot"
	LinkBot -nick=Datenkrake -user=Datenkrake -channel=#rumkugel -network=irc.quiteawful.net -port=6697 -host=links.knilch.net
	;;
  stop)
  	echo "Stopping LinkBot"
	pkill LinkBot
	;;
  restart)
  	echo "Restarting LinkBot"
	pkill LinkBot
	LinkBot -nick=Datenkrake -user=Datenkrake -channel=#rumkugel -network=irc.quiteawful.net -port=6697 -host=links.knilch.net
  *)
  	echo "Usage: /etc/init.d/linkbot {start|stop|restart}
	exit 1
	;;
esac

exit 0
