#mainContainer {
	
}

#linklistContainer {
	
	margin-left: 20px;
}

#main {
	
}

#linklist {
	background-color: rgb(246, 246, 239);

	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;

	padding-top: 4px;
	padding-left: 7px;
	padding-right: 7px;
}

#lst {
	
}
#navdiv {
	display: block;
	
}

#navbar {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;

	padding-top: 4px;
	padding-left: 7px;
	padding-right: 7px;
}

.lstItem {
	overflow: hidden;
	border-left: 3px solid rgb(246, 246, 239);
	padding-left: 5px;
}

.lstItem:hover {
	border-left: 3px solid #1FA2D6;
	background-color: rgb(246, 246, 255);
}

.lstUrl {
	display: inline;
	margin-bottom: 0px;
}

.lstMeta {
	margin-left: 16px;
	margin-top: 0px;

	font-size: 9pt;
}

.lstAvatar {
	display: inline;
	width: 40px;
	height: 40px;
	margin-right: 5px;
	
	float: left;
}
