
				<ul class="uk-list uk-list-line" id="linklist">
					{{range $i, $e := .Results}}
						<li class='lstItem'>
							{{$e.ID}}. 
							<div class='lstUrl'>
								<a href='{{$e.Url}}'>{{$e.Url}}</a>
							</div>
							<div class='lstMeta'>von {{$e.User}} am {{$e.TimeStr}}</div>
						</li>
					{{end}}
				</ul>

				<div id="pagination">
					<ul class="uk-pagination">
						{{$c := .Pagination.CurrentPage}}
						{{range $_, $i := .Pagination.Pagination}}
							{{if eq $i $c}}
								<li class='uk-active'><span>{{$i}}</span></li>
							{{else}}
								<li><a href='/{{$i}}'>{{$i}}</a></li>
							{{end}}
						{{end}}
					</ul>
				</div>
			