<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Sammelsurium an Links</title>

		<link rel="stylesheet" href="/static/css/uikit.min.css" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/uikit.min.js"></script>
	</head>
	<body>
		<div class="uk-grid" id="main">
			
			<div id="lst" class="uk-width-large-2-3 uk-width-medium-1-1 uk-width-small-1-1">

				<div id="navdiv" class="uk-">
					<nav class="uk-navbar" id="navbar">
						<a href="/" class="uk-navbar-brand">LinkBot</a>
						<ul class="uk-navbar-nav">
							<li><a href="/">Alle</a></li>
							<li><a href="/wasfuer">Was für ...</a></li>
						</ul>
						<div class="uk-navbar-content uk-navbar-flip">
							<form method="get" action="/search/0/" class="uk-form uk-margin-remove uk-display-inline-block">
								<input type="text" name="term" placeholder="Suche">
								<button class="uk-button uk-button-primary">Suche</button>
							</form>
						</div>
					</nav>
				</div>

				<ul class="uk-list uk-list-line" id="linklist">
					{{range $i, $e := .Results}}
					<li class='lstItem' style="background-color: {{$e.Color}};">
							{{$e.ID}}. 
							<div class='lstUrl'>
								<a href='{{$e.Url}}'>{{$e.Url}}</a>
							</div>
							<div class='lstMeta'>von {{$e.User}} am {{$e.TimeStr}}</div>
						</li>
					{{end}}
				</ul>

				<div id="pagination">
					<ul class="uk-pagination">
						{{$c := .Pagination.CurrentPage}}
						{{range $_, $i := .Pagination.Pagination}}
							{{if eq $i $c}}
								<li class='uk-active'><span>{{$i}}</span></li>
							{{else}}
								<li><a href='/{{$i}}'>{{$i}}</a></li>
							{{end}}
						{{end}}
					</ul>
				</div>
			</div>
			
		</div>
	</body>
</html>
